<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Infra With TestNG">
    <test name="Test1">
        <classes>
            <class name="testNg.Test1"/>
            <class name="testNg.Test2"/>
            <class name="testNg.AutomatedUITest"/>
            <class name="testNg.AutomatedApiTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->